<div class="content-wrapper">
    <ng-container *ngIf="weathers.length > 0; else noDate">
        <div class="main-info">
            <div class="title">
                <mat-form-field class="example-form-field">
                    <mat-label>Выберите дату</mat-label>
                    <input matInput [matDatepicker]="datepicker" [(ngModel)]="selectedDate.date">
                    <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
                    <mat-datepicker #datepicker>
                      <mat-datepicker-actions>
                        <button mat-button matDatepickerCancel>Отмена</button>
                        <button mat-raised-button color="primary" matDatepickerApply (click)="selectDate()">Принять</button>
                      </mat-datepicker-actions>
                    </mat-datepicker>
                </mat-form-field>
            </div>
            <div class="weather main-info__weather">
                <div class="temperature">
                    <h1 class="temperature__title">
                        Москва, Россия
                    </h1>
                    <p class="temperature__title">
                        Температура
                    </p>
                    <p class="temperature__value">
                        {{ weathers[activeWeatherIndex].temperature }}°
                    </p>
                    <p class="temperature__title">
                        {{ weathers[activeWeatherIndex].weatherCondition }}
                    </p>                
                </div>
            </div>
        </div>
        <div class="time-selection content-wrapper__time-selection">
            <button
                *ngFor="let weather of weathers; let i = index" 
                type="button" 
                class="time time-selection__item button button_empty"
                (click)="toggleActive(i)" 
                [ngClass]="{'time-selection__item_active': activeWeatherIndex === i}">
                    <p class="time__value">
                        {{ weather.date | date:'HH':'UTC' }}
                    </p>
                    <img src="assets/conditions/cloudy.svg" alt="weather-icon" class="time__weather-icon">
                    <p class="time__temperature">
                        {{ weather.temperature }}°
                    </p>
            </button>
        </div>
        <div class="addictional-info">
            <div *ngFor="let param of weatherParams; let i = index" class="options">
                <p class="options__name">
                    {{ param.name }}
                </p>
                <p class="options__value">
                    {{ param.value }}
                </p>
            </div>
        </div>
    </ng-container>
    <ng-template #noDate>
        <div class="no-data">
            <p class="no-data__title">Пожалуйста выберите дату</p>
            <mat-form-field class="example-form-field">
                <mat-label>Выберите дату</mat-label>
                <input matInput [matDatepicker]="datepicker" [(ngModel)]="selectedDate.date">
                <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
                <mat-datepicker #datepicker>
                  <mat-datepicker-actions>
                    <button mat-button matDatepickerCancel>Отмена</button>
                    <button mat-raised-button color="primary" matDatepickerApply (click)="selectDate()">Принять</button>
                  </mat-datepicker-actions>
                </mat-datepicker>
            </mat-form-field>
            <p *ngIf="weathers.length === 0" class="no-data__title">На данную дату нет данных</p>
        </div>
    </ng-template>
</div>
