<div class="content-wrapper">
    <div class="main-info">
        <div class="title">
            <h1 class="title__location">
                Москва, Россия
            </h1>
            <p class="title__date">
                {{ formatDate(weathers[activeWeatherIndex].date) }}
            </p>
        </div>
        <div class="weather main-info__weather">
            <div class="temperature">
                <p class="temperature__title">
                    Температура
                </p>
                <p class="temperature__value">
                    {{ weathers[activeWeatherIndex].temperature }}°
                </p>
                <p class="temperature__title">
                    {{ weathers[activeWeatherIndex].weatherCondition }}
                </p>                
            </div>
        </div>
    </div>
    <div class="time-selection content-wrapper__time-selection">
        <button
            *ngFor="let weather of weathers; let i = index" 
            type="button" 
            class="time time-selection__item button button_empty"
            (click)="toggleActive(i)" 
            [ngClass]="{'time-selection__item_active': activeWeatherIndex === i}">
                <p class="time__value">
                    {{ weather.date | date:'HH' }}
                </p>
                <img src="assets/conditions/cloudy.svg" alt="weather-icon" class="time__weather-icon">
                <p class="time__temperature">
                    {{ weather.temperature }}°
                </p>
        </button>
    </div>
    <div class="addictional-info">
        <div *ngFor="let param of weatherParams; let i = index" class="options">
            <p class="options__name">
                {{ param.name }}
            </p>
            <p class="options__value">
                {{ param.value }}
            </p>
        </div>
    </div>
</div>
