<nav class="navigation">
    <ul class="navigation-list">
        <li class="navigation-list__item">
            <a 
            [routerLink]="['/weather']" class="navigation-list__link"
            [ngClass]="{ 'navigation-list__link_active': isRouteActive('/weather') }">
                Архивы погоды
            </a>
        </li>
        <li class="navigation-list__item">
            <a 
            [routerLink]="['/upload']" class="navigation-list__link"
            [ngClass]="{ 'navigation-list__link_active': isRouteActive('/upload') }">
                Загрузка архивов
            </a>
        </li>
    </ul>
</nav>
