// Variables breakpoints
$xs: 0px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// Standart breakpoints

// X-Small devices (portrait phones, less than 576px)
@mixin sm {
    @media screen and (max-width: $sm) {
        @content
    }
};
// Small devices (landscape phones, less than 768px)
@mixin md {
    @media screen and (max-width: $md) {
        @content
    }
};
// Medium devices (tablets, less than 992px)
@mixin lg {
    @media screen and (max-width: $lg) {
        @content
    }
};
// Large devices (desktops, less than 1200px)
@mixin xl {
    @media screen and (max-width: $xl) {
        @content
    }
};
// X-Large devices (large desktops, less than 1400px)
@mixin xxl {
    @media screen and (max-width: $xxl) {
        @content
    }
};