.content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;

    &__header {
        height: var(--header-height);
        margin-left: auto;
        margin-right: auto;
        padding: 30px;
        border-radius: 30px;
        background: var(--light-grey);
        box-shadow: 10px 10px 4px 0 rgba(0, 0, 0, 0.5);
    }
}
